<!-- BEGIN_INCLUDE(twiml:say) -->
TwiMLModule module = new TwiMLModule();
module.say(TwiMLLanguage.ENGLISH, TwiMLVoice.WOMAIN, 1, new ProcessorCallback() {
    public Object process() {
        return "Say Hello!";
    }
});
<!-- END_INCLUDE(twiml:say) -->
<!-- BEGIN_INCLUDE(twiml:play) -->
TwiMLModule module = new TwiMLModule();
module.play(1, "http://myapp.muleion.com/file.mp3");
<!-- END_INCLUDE(twiml:play) -->
<!-- BEGIN_INCLUDE(twiml:gather) -->
TwiMLModule module = new TwiMLModule();
module.gather( new HttpCallback() {
    public String getUrl() {
        return "http://localhost/mycallback";
    }
}, 5, "#", 4, null);
<!-- END_INCLUDE(twiml:gather) -->
<!-- BEGIN_INCLUDE(twiml:record) -->
TwiMLModule module = new TwiMLModule();
module.gather( new HttpCallback() {
    public String getUrl() {
        return "http://localhost/mycallback";
    }
}, 5, "#", 30, false, null, true);
<!-- END_INCLUDE(twiml:record) -->
<!-- BEGIN_INCLUDE(twiml:sms) -->
TwiMLModule module = new TwiMLModule();
module.sms( new HttpCallback() {
    public String getUrl() {
        return "http://localhost/mycallback";
    }
}, "+14155552011", "+14155552012", null, null);
<!-- END_INCLUDE(twiml:sms) -->
<!-- BEGIN_INCLUDE(twiml:dial) -->
TwiMLModule module = new TwiMLModule();
module.dial( new HttpCallback() {
    public String getUrl() {
        return "http://localhost/mycallback";
    }
}, 30, false, 14400, null, new ProcessorCallback() {
    public Object process() {
        return "415-123-4567";
    }
});
<!-- END_INCLUDE(twiml:dial) -->

